# User blocks
##################################################
# Username should be in ime.prezime@skole.hr format
# Password is a cleartext skole.hr LDAP/SSO password
# There can be as many user blocks as needed
#
[[user]]
username = "ime.prezime@skole.hr"
password = "lozinka"

#[[user]]
#username = "ime2.prezime2@skole.hr"
#password = "lozinka2"

# Telegram block
##################################################
# Create a bot: https://core.telegram.org/bots#3-how-do-i-create-a-bot
# Find a ChatID: https://sean-bradley.medium.com/get-telegram-chat-id-80b575520659
# And: https://api.telegram.org/botYOUR_BOT_TOKEN/getUpdates
#
[telegram]
token = "telegram_bot_token"
chatids = [ "chat_id", "chat_id2" ]

# Discord block
##################################################
# Create a bot: https://discordpy.readthedocs.io/en/stable/discord.html
# Find UserIDs: https://www.remote.tools/remote-work/how-to-find-discord-id
# Permissions Calculator: https://discordapi.com/permissions.html
# Permissions: only "Send Messages"
#
#[discord]
#token = "discord_bot_token"
#userids = [ "user_id", "user_id2" ]

# Slack block
##################################################
# Create a bot: https://slack.com/help/articles/115005265703-Create-a-bot-for-your-workspace
# Permissions: only chat:write
#
#[slack]
#token = "xoxb-slack_bot_token"
#chatids = [ "chat_id", "chat_id2" ]

# Mail/SMTP block
##################################################
# Configuration for Gmail: https://support.google.com/a/answer/176600?hl=en
#
#[mail]
#server = "smtp.gmail.com"
#port = "587"
#username = "user.name@gmail.com"
#password = "legacy_app_password"
#from = "user.name@gmail.com"
#subject = "Nova ocjena iz e-Dnevnika"
#to = [ "user.name@gmail.com", "user2.name2@gmail.com" ]

# Google Calendar block
##################################################
# Configuration for Calendar API: https://developers.google.com/calendar/api/quickstart/go#set_up_your_environment
# First run needs to be done in terminal on a regular Windows/Mac/Linux system
#
#[calendar]
#name = "Djeca ispiti"

# WhatsApp block
##################################################
# If the phone number is provided, it will be used to initiate code linking with
# main WhatsApp application. During the sync make sure to leave (and keep)
# WhatsApp mobile application open and active.  If the phone number is not set,
# initial linking requires interactive terminal to display QR link code -- after
# the sync, .e-dnevnik.sqlite can be copied to the final location. Phone number
# should be in international format with + and country code.
#
# Userids are either in the format of +XXXYYYYYYY@s.whatsapp.net (phone number
# in international format) or in the format of
# XXXYYYYYYY-ZZZZZZZZZZ@s.whatsapp.net (Group ID).  Groups are actually group
# names and will be appended to userids discovery process finds group ID. More
# efficient way is to directly use group ID (run bot in debug mode) and append
# to userids instead. If bot has permissions to write to configuration file, it
# will rewrite config and move group to userids.
#
#[whatsapp]
#phonenumber = "+385XXYYYYYYY"
#userids = [ "+385XXYYYYYYY@s.whatsapp.net", "XXXYYYYYYY-ZZZZZZZZZZ@s.whatsapp.net" ]
#groups = [ "group1", "group2" ]
